**Purpose**

Get tables from sources with original formatting, write table in prescribed form to be read by other programs.

# Setup

In [2]:
import pandas as pd

# Sequence metrics

## Codon stabilization coefficient

Source:  https://doi.org/10.7554/eLife.45396

Figure 1â€”source data 2

**Input:**

In [20]:
csc_filename = "elife-45396-fig1-data2.csv"
csc_df = pd.read_csv(csc_filename)
csc_df.head()

,codon,Name,293T_endo,HeLa_endo,RPE_endo,293T_ORFome,K562_ORFome,K562_SLAM,genome,transcriptome
0,AAA,Lys,-0.154753,-0.097518,-0.126503,-0.065995,-0.082504,-0.079069,549818.9998,25273066.62
1,AAC,Asn,0.037337,0.046963,0.051041,0.013212,0.047233,-0.014226,338382.0003,13679614.32
2,AAG,Lys,0.002683,-0.038327,-0.032505,-0.000135,0.061907,0.095405,630360.0000,31659242.67
3,AAT,Asn,-0.089872,-0.030969,-0.035647,-0.059247,-0.093182,-0.064404,358553.9970,14770289.87
4,ACA,Thr,-0.067140,-0.008358,-0.009713,-0.056360,-0.104351,-0.027917,301641.0009,11739970.94

**Output:**

In [21]:
csc_write_df = csc_df[["codon","293T_endo"]]
csc_write_df.columns = ["codon", "csc_293T_endo"]
csc_write_df.head()

  codon  csc_293T_endo
0   AAA      -0.154753
1   AAC       0.037337
2   AAG       0.002683
3   AAT      -0.089872
4   ACA      -0.067140

In [22]:
csc_write_filename = "../../data/2_conditional_mutual_information/csc_wu_2019.tsv"
csc_write_df.to_csv(csc_write_filename,
                    sep="\t",
                    index=False)

## tRNA adaptation index

Source: https://doi.org/10.1016/j.cell.2010.03.031

Table S1

**Input:**

In [3]:
tai_filename = "1-s2.0-S0092867410003193-mmc2_tAI.csv"
tai_df = pd.read_csv(tai_filename,
                     encoding='utf-8-sig')
tai_df.head()

,Codon,anti-codon,S. Cerevisiae,Human,E. coli K12,C. elegance,D. melanogaster,Aeropyrum pernix
0,TTT,AAA,0.270320,0.161002,0.10975,0.170722,0.167878,0.132229
1,TTC,GAA,0.615764,0.366748,0.25000,0.388889,0.382409,0.301205
2,TTA,TAA,0.431034,0.213936,0.12500,0.111111,0.191205,0.301205
3,TTG,CAA,0.753695,0.282396,0.16500,0.230000,0.252390,0.397590
4,TCT,AGA,0.677340,0.336186,0.10975,0.416667,0.382409,0.132229

**Output:**

In [5]:
tai_write_df = tai_df[["Codon", "Human"]]
tai_write_df.columns = ["codon", "human_tai"]
tai_write_df.head()

  codon  human_tai
0   TTT   0.161002
1   TTC   0.366748
2   TTA   0.213936
3   TTG   0.282396
4   TCT   0.336186

In [8]:
tai_write_filename = "../../data/2_conditional_mutual_information/tai_tuller_2010.tsv"
tai_write_df.to_csv(tai_write_filename,
                    sep="\t",
                    index=False)